// Place all the styles related to the timers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.timer {
  text-align:center;
}

.timer {
  border: 1px solid black;
  width: 49%;
  display:inline-block;
  margin:5px;
  height:50px;
}