// Place all the styles related to the timers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.timers {
  text-align:center;
}

.timer {
  margin:5px;
  height:160px;
  border:1px solid black;
}