<!DOCTYPE html>
<html>
  <head>
    <!-- Apple Web App -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png"/>

    <title>traqtastic</title>
    <link rel="stylesheet" href="/stylesheets/jquery.mobile-1.1.0-rc.1.min.css" />
    <%= stylesheet_link_tag    "application" %>

    <%= javascript_include_tag "application" %>
    <script src="/javascripts/jquery.mobile-1.1.0-rc.1.min.js"></script>
    <script src="/javascripts/jquery.tmpl.min.js"></script>
    <script src="/javascripts/jquery-ui.min.js"></script>
    <script src="/javascripts/jquery.doubletap.js"></script>

    <script type="text/javascript">if (window.location.hash == '#_=_')window.location.hash = '';</script>

    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= yield %>

  </body>
</html>
